.project-section {
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
}

.project-heading {
  display: flex;
  font-size: var(--font-size-heading);
  flex-direction: column;
}

.project-heading-text {
  font-family: Campton-Font-Bold;
  font-size: var(--font-size-heading);
}
.project-heading-subtext {
  font-family: Campton-Font-Regular;
  font-style: italic;
  font-size: var(--font-size-subtext);
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}

.project-container-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: flex-start; /* or space-around */
  align-items: flex-start; /* Ensure this has a value, like 'center' */
  border: 1px solid blue;
  overflow: hidden;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  border: 1px solid yellow;
}

.project-text-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  gap: 1rem;
}

.project-text-heading{
  font-size: var(--font-size-subHeading);
  font-family: Campton-Font-Bold;
  
}
.project-text-description{
  font-size: var(--font-size-text);
  font-family: Campton-Font-Regular;
}

.project-container-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  border: 1px solid green;
}

.project-images {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* border-radius: var(--std-border-radius); */
}
.project-images::-webkit-scrollbar {
  display: none;
}

.project-images-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36rem;
  height: 22rem;
  /* border: 1px solid black; */
  /* color: darkgoldenrod; */
}

.project-images {
  width: 36rem;
  height: 22rem;
}

.sticky {
  position: sticky;
  top: 0;
}

.relative {
  position: relative;
  top: 0;
}
