.project-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
}

.project-heading {
  display: flex;
  width: 100%;
  font-size: var(--font-size-heading);
  flex-direction: column;
  transition: all ease-in-out 0.8s;
}

.project-heading-text {
  width: 40%;
  font-family: Campton-Font-Bold;
  font-size: var(--font-size-heading);
}
.project-heading-subtext {
  max-width: 30%;
  font-family: Campton-Font-Regular;
  font-style: italic;
  font-size: var(--font-size-subSubtext);
}

.sticky {
  position: sticky;
  top: 0;
}

.relative {
  position: relative;
  top: 0;
}

.heading-text-spining {
  rotate: -90deg;
  transition: all ease-in-out 0.8s;
  translate: calc(-40%) -3rem;
}
.heading-subtext-spining {
  transition: all ease-in-out 0.8s;
  font-size: 0rem;
}

.heading-spining-reset {
  rotate: 0deg;
  transition: all ease-in-out 0.8s;
  translate: 0rem 0rem;
}

.project-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  scroll-behavior: smooth;
}

.project-container-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: flex-start; /* or space-around */
  align-items: flex-start; /* Ensure this has a value, like 'center' */
  /* border: 1px solid blue; */
  overflow: hidden;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 70vh;
  /* border: 1px solid yellow; */
}

.project-text-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  gap: 1rem;
}

.project-text-heading {
  font-size: var(--font-size-subHeading);
  font-family: Campton-Font-Bold;
}
.project-text-description {
  font-size: var(--font-size-text);
  font-family: Campton-Font-Regular;
}

.project-container-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 70vh;
  /* border: 1px solid green; */
}

.project-images-list {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 0.5rem;
}

.project-images-items {
  width: 100%;
  height: 100%;
}

.project-images {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-images::-webkit-scrollbar {
  display: none;
}
