.section-technology {
  position: relative;
  width: auto;
}

.technology-container {
  position: sticky;
  width: auto;
  height: 100vh;
  top: 0;
}

.tech-heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;
}

.tech-heading-text {
  font-family: Campton-Font-Bold;
  font-size: var(--font-size-heading);
}

.tech-heading-subText {
  font-family: Campton-Font-Regular;
  font-size: var(--font-size-subSubtext);
  font-style: italic;
}

.tech-boxes-container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10%;
  scrollbar-width: none;
  -ms-overflow-style: none;
  will-change: scroll-position; /* Hint for hardware acceleration */
}


.tech-boxes-container::-webkit-scrollbar {
  display: none; /* For Chrome, Safari */
}

.tech-boxes {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50vw;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  height: 95%;
}

.box-first {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 90%;
}

.box-first-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0;
}

.box-skill-name-desc {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
}

.box-skill-name {
  width: 100%;
  font-size: var(--font-size-subHeading);
  font-family: Campton-Font-Bold;
}

.box-skill-desc {
  font-size: var(--font-size-text);
  font-family: Campton-Font-Regular;
  font-style: italic;
}

.box-absolute {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.box-skill-image {
  position: relative;
  display: inline;
  width: 100%;
  height: 100%;
}

.rotating-svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  animation: rotate-svg 10s linear infinite;
  transform-origin: center;
}

@keyframes rotate-svg {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.skill-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8rem;
  height: 8rem;
}

.box-second,
.box-third {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.box-skill-bar-container {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.5%;
}

.box-skill-bar {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid black;
}

@media only screen and (orientation: portrait) {
  .tech-boxes-container {
    padding-top: 40%;
  }
  .tech-boxes {
    min-width: 140vw;
  }
  .tech-heading-subText {
    font-size: var(--font-size-text-mobile);
  }
  .box-skill-name-desc {
    height: 100%;
    justify-content: center;
  }
  .skill-image {
    width: 5rem;
    height: 5rem;
  }
}
