:root {
  --font-size-text: 1.25rem;
  --font-size-subtext: 1rem;
  --font-size-subSubtext: 0.75rem;
  --font-size-heading: 2.5rem;
  --font-size-subHeading: 1.75rem;
  --std-border-radius: 0.5rem;
  /* Standard for responsive design (mobile) */
  --font-size-text-mobile: 1rem;
  --font-size-heading-mobile: 1.75rem;
  --font-size-subtext: 1rem;
  --font-size-subSubtext: 0.75rem;
  --font-size-subHeading-mobile: 1.25rem;
  --std-border-radius-mobile: 0.25rem;
}

@font-face {
  font-family: 'Alegreya-Font-Regular';
  /*Can be any text*/
  src: url('../assets/fonts/Alegreya/static/Alegreya-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Alegreya-Font-Bold';
  /*Can be any text*/
  src: url('../assets/fonts/Alegreya/static/Alegreya-Bold.ttf')
    format('truetype');
}

/* Second font for higlights */
@font-face {
  font-family: 'ShadowsIntoLightTwo-Regular';
  /*Can be any text*/
  src: url('../assets/fonts/ShadowsIntoLightTwo-Regular.ttf')
    format('truetype');
}

.App {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-text);
  padding: 0% 0%;
  font-family: Alegreya-Font-Regular;
  transition: color 0.5s ease-in-out;
}

.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
  transition: background-color 0.5s ease;
}

.grid-background::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-image: repeating-linear-gradient(
      to bottom,
      var(--grid-color) 0,
      var(--grid-color) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      to right,
      var(--grid-color) 0,
      var(--grid-color) 1px,
      transparent 1px,
      transparent 20px
    );
  background-size: 20px 20px;
  transform: rotate(0deg);
}

/* Portrait means -> width <= height */
@media only screen and (orientation: portrait) {
  .App {
    width: auto;
    padding: 0% 0%;
  }
}

/* Still need to add responsiveness for tablets */
