.project-section {
  width: 100%;
  height: 100%;
  background-color: lightseagreen;
}

.project-heading {
  display: flex;
  background-color: lightblue;
  font-size: var(--font-size-heading);
}

.project-heading-text {
  font-family: Campton-Font-Bold;
  font-size: var(--font-size-heading);
}

.project-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: lightsalmon;
}

.project-container-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: flex-start; /* or space-around */
  align-items: flex-start; /* Ensure this has a value, like 'center' */
  border: 1px solid blue;
  background-color: purple;
  overflow: hidden;
}

.project-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  border: 1px solid yellow;
  background-color: darkgoldenrod;
}

.project-container-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  border: 1px solid green;
  background-color: lightgreen;
}

.project-images {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  width: 30rem;
  height: 28rem;
  flex-wrap: wrap;
  left: 10%;
  background-color: darkorange;
}
.project-images::-webkit-scrollbar{
display: none;
}

.project-images-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  color: white;
}
