.footer-section{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 5rem;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.footer-free-space{
    margin-top: 80%;
}

.footer-coming-soon{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    opacity: 0.5;
}