.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 0% 10%;
}

.App {
  transition: background-color 0.5s ease, color 0.5s ease-in-out;
}